# --- Ignorar carpetas de compilación y caché de Godot 4.x ---
# Esto buscará cualquier carpeta .godot en cualquier subdirectorio
**/.godot/
**/.import/

# Archivos de firmas y estados locales
*.uid
*.tmp
export_presets.cfg

# --- Binarios e instalaciones ---
*.exe
*.zip
*.tar.gz
*.app
*.ipa
*.apk
*.dmg
*.mono/
bin/
obj/

# --- Sistema Operativo ---
.DS_Store
Thumbs.db
